[2011-09-10 19:51] syeedibnfaiz opened #1 "g++ compilation error on gcc version 4.5.2"
I am getting this error on: [Linux ubuntu 2.6.38-8-generic #42-Ubuntu SMP Mon Apr 11 03:31:50 UTC 2011 i686 i686 i386 GNU/Linux] with [gcc version 4.5.2 (Ubuntu/Linaro 4.5.2-8ubuntu4) ]

tree.h: In constructor ‘tree_node<label_type>::tree_node(const tree_label::cat_type&, tree_node<label_type>_, tree_node<label_type>_)’:
tree.h:319:39: error: cannot call constructor ‘tree_label::tree_label’ direct

[2011-09-12 18:42] #1 closed, assigned to dmcc

[2011-09-12 19:17] syeedibnfaiz opened #2 "Makefile error on SunOS"
I got this error on [SunOS charlie 5.10 Generic_144488-06 sun4u sparc SUNW,Sun-Fire-280R]:

Fatal error in reader: Makefile, line 179: Unexpected end of line seen

[2011-09-19 14:16] syeedibnfaiz opened #3 "Parser's behavior in absence of -K"
When the parser reads from stdin, it behaves strangely if -K is absent. It does not immediately produce output for the first sentence. it waits until the next sentence is given and then it gives output for the previous sentence. It was a problem for me since I was feeding it through a pipe. I found a silly work around though. Instead of giving it an input like <s> .. </s>\n I give <s> ... </s>\n.\

[2011-09-21 22:01] #2 closed, assigned to nobody

[2011-09-23 18:13] dmcc opened #4 "Model files shouldn't be distributed in the repository"
Instead, the Makefile should download them from a website.  It should run a script which would give you options for downloading the WSJ English model, the self-trained newswire model, the self-trained biomedical model, and possibly the best AnyDomain parsing models.  It should handle reranker models as well.

[2011-09-23 18:17] dmcc opened #5 "Run first stage code through some code formatter"
Formatting should be standardized.  Should look at http://stackoverflow.com/questions/841075/best-c-code-formatter-beautifier

[2011-10-25 18:56] #3 closed, assigned to dmcc

[2011-12-07 03:44] dmcc opened #6 "Reranker doesn't work under g++ (Ubuntu/Linaro 4.6.1-9ubuntu3) 4.6.1"
Reported by Faisal Mahbub Chowdhury.  This is the g++ included in Ubuntu 11.10.

Error message:

heads::syntactic_data::headchild() Error: can't find entry for category %UNDEFINED%
(best-parses: sym.h:129: const char\* symbol::c_str() const: Assertion `is_defined()' failed.
Aborted

[2011-12-19 21:34] #6 closed, assigned to dmcc

[2012-06-06 22:06] croeder opened #7 "c++ filenames cause difficulty on Mac OS X"
Mac OS with the default file system doesn't distinguish foo.c from foo.C and so tries to compile C++ as C
generating error messages like this:

make -C first-stage/PARSE parseIt
g++ -Wall -O3 -fPIC -c Bchart.C
In file included from Term.h:28,
                 from Edge.h:27,
                 from ChartBase.h:27,
                 from Bchart.h:27,
                 from Bchart.C:24:
ECString.h:1:112

[2012-06-07 19:31] #7 closed, assigned to nobody

[2012-07-29 03:38] lixiangnlp opened #9 "can't find entry for category"
I first set the GCCFLAG, by the command "export GCCFLAGS="-march=core2 -mfpmath=sse -msse2 -mmmx""
After I run the command "./parse.sh sample-data.txt"
Then it shows some errors, can you tell me why?
The error information is as below.
heads::syntactic_data::headchild() Error: can't find entry for category %UNDEFINED%
(best-parses: sym.h:129: const char\* symbol::c_str() const: Assertion `is_define

[2012-09-05 20:18] syeedibnfaiz opened #10 "Problem with conjoined NP's"
I have found an issue with your biomedical model. It seems that the biomedical model has a tendency to unnecessarily deepening NP's and ADJP's. Consider the following sentence:

Xa and Yb proteins were found .

Using the biomedical model I get a syntax tree with an extra layer of NP's in the subtree: (NP (NP (NN Xa)) (CC and) (NP (NN Yb) (NNS proteins))

As a result of this, when I feed this parse

[2012-09-10 14:43] #10 closed, assigned to nobody

[2013-05-01 06:25] geranis opened #12 "Difference in the outPut of bllip-parser and the original Chanrniak rerank parser"
As far as I understood the bllip-parser is the updated version of the orignal code for Charniak parser. However, I noticed differences in the output of the original Charniak reranking parser and the  bllip-parser.

For example, parsing the sentence "<s> This is some text that we should, presumably, parse! </s>" the Charniak parser labels "parse" as VP whereas the bllip-parser labels it as NP.

To

[2013-05-23 18:06] ajmazurie opened #13 "Compilation issue under OSX"
When attempting to compile BLIIP through TEES, and later directly, I got the following problems:

-- first, I get a "invalid value '6' in '-O6'" when best-parses is compiled ('make -C second-stage/programs/features best-parses'). It seems that the OSX clang compiler (version 4.2 on my 10.7.5 box) doesn't accept optimization levels that high. Setting it to 3 appears to fix this problem. Note: the c

[2013-05-24 01:56] #12 closed, assigned to nobody

[2013-05-24 01:57] #9 closed, assigned to dmcc

[2013-08-17 17:28] #13 closed, assigned to nobody

[2013-10-09 21:46] dmcc opened #14 "Tokenizer doesn't segment double/triple hyphens correctly"
`a--b` should be `a`, `--`, `b`. Currently it is not split up by the tokenizer.

[2013-11-15 06:52] catherine9999 opened #15 "re-train parser get segmentation fault error "/bin/sh: line 1: 64668 Segmentation fault second-stage/programs/prepare-data/ptb -n 20 -x 00 -e""
Hi,
could somebody help me with this error? I'm running the parser under 64bit redhat 5. When training the parser with large dataset, similar to WSJ, I get this segmentation fault error from ptb. I'm using 8 threads.

"/bin/sh: line 1: 64668 Segmentation fault      second-stage/programs/prepare-data/ptb -n 20 -x 00 -e ....."

Thanks,

[2013-11-19 10:04] syllog1sm opened #16 "parseIt is not threadsafe (was: Probabilities printed out of order for multi-threaded LM parser)"
in first-stage/PARSE/parseIt.C , the probabilities are written out directly, instead of being pushed to the print stack. This means that they appear out of order in multi-threaded LM parsing.

[2014-01-20 09:01] gvjoshi25 opened #17 "Parser does not remain silent when it can not parse a sentence"
Sometimes parser can not parse sentence. As README, there is one argument '-S' which tells parser to remain silent when it can not parse any sentence and it just goes to next sentence. But using this argument, parser does not go to next sentence. It still throws exception.

My input to parser is :

./parseIt, -l400, -K, -t4, -S, -EInputTagFile.txt, ../DATA/EN/, InputTextFile.txt

Output of this co

[2014-01-20 16:45] #17 closed, assigned to dmcc

[2014-01-25 00:03] #15 closed, assigned to nobody

[2014-01-25 00:18] dmcc opened #18 "parseIt: MeChart.C:97: Bst& MeChart::findMapParse(): Assertion `s' failed."
Continued from https://github.com/BLLIP/bllip-parser/issues/17#issuecomment-33200162

@gvjoshi25, I can't replicate this issue on Ubuntu or RHEL machines. Just to confirm, you're using an unmodified version of the latest parser and get the same assertion error every time?

If so, what *NIX distribution and version are you using? Also, can you include the output of these commands:

[code]

It might

[2014-01-26 16:41] #18 closed, assigned to dmcc

[2014-01-26 20:02] L3viathan opened #19 "Compilation fails under OS X 10.9 (Mavericks)"
While I have had the same problem that is described [here](https://github.com/BLLIP/bllip-parser/issues/13), the suggested steps only brought me so far. The compiler doesn't find <ext/stdio_filebuf.h>, which, I'm sure, is because of changes by Apple in 10.9. Here's the relevant part of the output:

[code]

[2014-08-04 23:13] mohammadsadeghzadeh opened #22 "Persian Language parser and reranker"
Is it possible to make Persian language parser and reranker based on bllip-parser?
Assume i have a Persian tree bank, what i have to do?

[2014-11-01 09:07] echozheng opened #24 "basic usage of bllip-parser"
Hello, I am new here. First time to use this parser, it a really cool software.
while it is still be a stranger to me now. I do need some help, many thanks.

First:
If you want to make it slightly easier for humans to read, use the
command line argument `-P` (pretty print),

I try "./parse.sh -P <sourcefile.txt>", but it didn't work. What is the correct command?

Second:
if I want the "stdout" to

[2014-11-02 14:23] #24 closed, assigned to nobody

[2015-01-20 10:25] cayorodriguez opened #26 "Python 3 version in the works?"
Hi, Are you planning on a Python3 version? It shouldn't be too difficult to port it, basically fixing prints, "open" for "file", and mainly fixing iterable vs. list indexing. Thanks

Carlos

[2015-01-20 16:07] dmcc commented on #26
I would definitely like BLLIP to run in Python 3. I will try to triage this soon, but not sure when I will have time to dig into it. So if someone is looking to get involved, this would be an awesome way to help out...

[2015-01-20 16:08] dmcc commented on #22
Closing this issue for now -- please let me know if you have more questions.

[2015-01-20 16:08] #22 closed

[2015-01-20 16:10] cayorodriguez commented on #26
Hi,
I'll take a look at it as soon as I have more time (project deadline now).

Best,

Carlos

On Tue Jan 20 2015 at 17:07:38 David McClosky <notifications@github.com>
wrote:

[2015-02-25 08:51] Yeom opened #27 "Can i ask how to train this parser?"
First, i'm sorry that my english level(?) is so low
I'm a student in South Korea
And i wonder about how can i train the new data?
Can i train the new corpus? i can't find how to train the data.
Should i do in first-stage TRAIN directory?
i'm so curious.

[2015-02-25 16:14] dmcc commented on #27
Thanks for the question. Yes, training should be run from the `first-stage/TRAIN` directory with the `trainParser` script. There's some information about what the script expects as arguments here:

   https://github.com/BLLIP/bllip-parser/blob/master/first-stage/TRAIN/README.rst

For training data, it depends on what type of text you'd like to parse. Ideally, the training data would be similar in

[2015-02-25 16:14] #27 closed

[2015-02-28 09:15] Yeom commented on #27
Can i ask more?
1) I want to save existing data and add my new training data ,is that possible?
For example I want to get train data that original data and my new data.
Can you understand this? Hmm....If i train the data then the original data is blow up? or remain?

2)  I saw the DATA directory in first-stage and data files are numbers....
     Should i run the some program to get the data like t

[2015-02-28 09:20] Yeom opened #28 "About Training Data"
Can i ask more?
1) I want to save existing data and add my new training data ,is that possible?
For example I want to get train data that original data and my new data.
Can you understand this? Hmm....If i train the data then the original data is blow up? or remain?

2) I saw the DATA directory in first-stage and data files are numbers....
Should i run the some program to get the data like that? C

[2015-03-01 17:53] dmcc commented on #28
1) One possible point of confusion here is that the `DATA` directories are actually parsing models (the numbers are counts, probabilities, etc.) not the actual training data (treebanks). For the included `DATA` directories, the actual training data is the Penn Treebank (`EN` and `LM`) and Chinese Treebank (`CH`). If you have these treebanks, you can add other treebanks to them and then train a com

[2015-03-02 10:46] Yeom opened #29 "About Training Corpus"
trainParser -parser [data directory] [training corpus] [development corpus]

1) if i train the training data i need 2 corpus training corpus and development corpus
but i don't know what is development corpus well.

2) In the [data directory], there must be featInfo.*,bugFix.txt, headInfo.txt, terms.txt, (and training corpus, dev corpus)?

3) Can i add my training data(parsing model) result to orig

[2015-03-02 18:25] dmcc commented on #5
Looks like some nice options for AStyle might be: `astyle -c -H -p -j -W1 -k1 -U --style=google --indent=spaces=4`

[2015-03-02 20:51] dmcc commented on #29
Can you give a description of what kind of parsing model you're trying to train? (what type of training data do you have? what language?)

1) In general, the development corpus is usually a portion (5-20%) of the overall training data which is not used for training. This allows the parser to better adjust some of the smoothing parameters to handle unseen data. For example, when training Wall Stree

[2015-03-03 06:36] Yeom commented on #29
I'm really thank you for answering my weird question TT

[2015-03-25 18:14] #29 closed

[2015-03-25 18:14] #28 closed

[2015-04-02 21:07] dmcc opened #30 "bllipparser.Tree should allow access to the head finding information"
This is probably the only remaining feature from PyInputTree that's not in the Python version of BLLIP Parser.

[2015-04-02 21:08] dmcc opened #31 "bllipparser should provide an n-best list reader"

[2015-04-05 17:26] #30 closed

[2015-04-20 20:39] dmcc opened #32 "Maximum sentence length is not really the maximum sentence length."
It seems that there are (at least) two off-by-one errors with these calculations:

    shell% ./parseIt -l399 ../DATA/EN 398.sgml
    <doesn't crash, gives dummy parse>
    shell% ./parseIt -l399 ../DATA/EN 399.sgml
    parseIt: GotIter.C:73: void LeftRightGotIter::makelrgi(Edge*): Assertion `i < 400' failed.
    <segfaults>
    shell% ./parseIt -l399 ../DATA/EN 400.sgml
    <doesn't crash, senten

[2015-05-10 22:04] dmcc opened #33 "Invalid trees break tree reader internal state"
Example:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/local/lib/python2.7/dist-packages/bllipparser/RerankingParser.py", line 63, in __init__
        parser.inputTreeFromString(input_tree_or_string)
    RuntimeError: [first-stage/PARSE/utils.C:52]: Saw paren rather than term

    Saw )
    Traceback (most recent call last):
      File "<stdin>"

[2015-05-12 02:40] dmcc opened #34 "Invalid trees can make tree reader spin"
For example:

    [never returns]

[2015-05-12 02:57] #33 closed

[2015-05-12 14:48] dmcc opened #35 "Find a way to build JohnsonReranker Python module with optimization enabled"
See https://github.com/BLLIP/bllip-parser/blob/master/setup.py#L80 for more information.

[2015-05-14 02:32] #34 closed

[2015-05-15 02:56] #35 closed

[2015-05-21 13:58] mallihee opened #36 "Error when using tag() function with the adverb "where""
In [3]: rrp.tag('where')
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
/home/DataSet/<ipython-input-3-f9f9ee9df3ed> in <module>()
----> 1 rrp.tag('where')

/usr/local/lib/python2.7/dist-packages/bllipparser/RerankingParser.py in tag(self, text_or_tokens)
    538         text_or_tokens can be e

[2015-05-21 15:13] dmcc commented on #36
Thanks for the report. I was able to reproduce this with some (but not all) parsing models. The bug comes down to the fact that some parsing models can't parse the sentence "where" (but for technical reasons, they *can* parse "where is"). The `tag()` function simply parses text as if it was a full sentence and rips the tags off the first tree (you'll get the best accuracy by giving it complete sen

[2015-05-21 15:13] #36 closed

[2015-06-24 16:16] dmcc opened #37 "parseIt exits when it sees an empty sentence"
If you give `parseIt` this input file:

     <s> </s>
     <s> Non-empty </s>

it will exit before parsing "Non-empty".

(thanks to Joel Tetrault for the bug report)

[2015-07-08 15:10] dmcc opened #38 "Create and distribute Debian/Ubuntu/RHEL packages"

[2015-07-23 11:51] qiuwei opened #39 "File missing in 20150708 python releasing"
First-stage/PARSE/SimpleAPI.c is missing in the release.

[2015-07-23 17:30] dmcc commented on #39
Thanks for the report! There's a new release (2015.07.23) which should fixes this issue.

[2015-07-23 17:30] #39 closed

[2015-09-03 13:15] pkclaus commented on #26
Greetings,

I am a german student of computational linguistics, working in Heidelberg for the past year, at the Heidelberg institute for theoretical studies (HITS).
In our work process, we were updating a coreference resolution toolkit used by the nlp group.
(https://github.com/smartschat/cort)

While doing so, I've tried updating the BLLIP Parser for usage with Python3. There is an updated versio

[2015-09-03 17:22] dmcc commented on #26
Thanks and yes, this sounds like a useful pull request, @pkclaus. Can you say more about which features (if any) aren't accessible/working in your version?

Please see the [contributing guidelines](https://github.com/BLLIP/bllip-parser/blob/master/CONTRIBUTING.rst) and sign the CLA so this could be merged with the main branch.

PS. @cayorodriguez, were you able to make any progress on this?

[2015-10-08 18:34] dmcc commented on #26
I may have some time to work on this soon. @pkclaus, do you think you'll be able to make a pull request?

[2015-10-10 12:01] pkclaus commented on #26
@dmcc
The pull request has been created, and all the changes that were made for using bllip-parser in a python3 environment have been briefly documented in the txt-file within the commit. Hopefully this should provide some sort of rough starting point.
The signed CLA should be on its way momentarily. Is it sufficient to scan and send the CLA to the provided mail address?

Best Regards!

[2015-10-10 15:03] dmcc commented on #26
Thanks @pkclaus! I think it's sufficient to scan the CLA. I'll look over the pull request and work on merging it in.

[2015-10-17 16:32] nahgnaw opened #42 "terminate called after throwing an instance of 'swig::stop_iteration'"
I ran into the following issue when trying to run the parser. Any idea what might cause this?
[code]

Thanks!

[2015-10-17 21:01] dmcc commented on #42
Thanks for the report! A couple questions: Are you using the latest version from GitHub? If so, which version of `swig` are you running?

Also, are you using Python 2 or 3?

[2015-10-18 19:36] nahgnaw commented on #42
I tried to install bllipparser using pip and with the latest version both from pipy (version 2015/08/18) and github (version 2015/10/15), but neither of them worked on my machine (Ubuntu, Python 2.7.6, swig 3.0.8) and the above `swig::stop_iteration` error showed up.

I also compiled from the source using the github version, and it worked with parse.sh. However, I'm using another tool (https://git

[2015-10-19 02:01] dmcc commented on #42
I'm using an older `swig` (2.0.12) on Ubuntu 14.10 with Python 2.7.8, so those are some potential differences. But, I'm wondering if SWIG isn't even the problem and the real problem is a parse failure (`simple_parse` might be trying to index into an empty list -- it should have some better checking). What happens when you try the following?

    50

If it doesn't match (`len(nbest_list)` might be

[2015-10-19 02:14] nahgnaw commented on #42
I got the same `terminate called after throwing an instance of 'swig::stop_iteration'
Aborted` error when using `parse` method.

[2015-10-19 03:04] dmcc commented on #42
I upgraded to `swig` version 3.0.2 but I'm still not getting the error. It looks like version 3.0.7 is the latest stable release for `swig` -- just to rule things out, could you try rebuilding with `swig` 3.0.7 (or earlier)? (may need a `make real-clean` first)

If this doesn't help, it might be helpful to post your installed `bllipparser` egg directory so I can see how it differs from mine.

[2015-10-20 02:57] nahgnaw commented on #42
I reinstalled `swig` 3.0.2, but I got the same error...

In my `/usr/local/lib/python2.7/dist-packages/bllipparser` directory, I have the following files:
[code]
In my `/usr/local/lib/python2.7/dist-packages/bllipparser-2015.8.18-py2.7.egg-info` directory, I have the following files:
[code]
Are these the directories you were talking about?

[2015-10-20 03:16] dmcc commented on #42
Yes, those are the files. If you make a `tar`  of both of those, I can compare them other installs and maybe figure out what's causing this a little better. Thanks and sorry for all the trouble!

[2015-10-20 03:27] nahgnaw commented on #42
I sent those files to your Stanford email. Thank you for helping me with this!

[2015-10-20 16:05] dmcc commented on #42
Thanks @nahgnaw, I got the files! I compared them against an install of `bllipparser` version 2015.08.18. The `*.py` files all match (binaries don't but that likely stems from different `swig`/compiler versions). Couldn't see anything obviously weird about the symbols in the `.so` files.

When I forced Python to use your `bllipparser` package, it didn't crash -- I think this means we can rule out

[2015-10-21 01:29] dmcc commented on #42
Actually, there's one more sanity check which might be slightly easier than reinstalling `bllipparser` in a virtualenv -- `python -v` will trace imports. Tracing the example code might reveal if it's mixing files from multiple `bllipparser` versions.

[2015-10-21 02:02] nahgnaw commented on #42
I don't think I have multiple versions of `bllipparser` installed. Below is the run trace with `python -v`:
[code]

[2015-10-21 03:56] dmcc commented on #42
Well, I'm afraid I still can't say I have a good understanding of what's going on here.

If you're up for more remote debugging, we could try to see how far it gets in the Python code before it crashes. If you install the `hunter` module from Python, the output from this might help (might be quite long):

    import bllipparser, hunter
    rrp = bllipparser.RerankingParser.fetch_and_load('WSJ-PTB3

[2015-10-22 19:50] nahgnaw commented on #42
@dmcc, I switched to another Ubuntu machine and got it working quite easily. I guess there must be something wrong with the `swig` on the old machine. Anyway, thanks a lot for your help. I think I can close this issue now.

[2015-10-22 19:50] #42 closed

[2015-10-26 18:33] dmcc opened #43 "parseIt should error if input doesn't get SGML-ish input"
If the input text doesn't start with `<s` it is silently ignored. This should be an error.

[2015-11-01 03:45] dmcc commented on #26
With bf933c7 and 53c412ca6282d9b101f1a3f9438f069553f54aa3, Python 3 should be supported in the main branch (with the exception of Python 3.5 until swig 3.0.8 is released) and tested on Travis-CI. After a little more testing, I'll make an official release. Please let me know if you run into any issues.

[2015-11-14 19:06] dmcc commented on #26
Integration testing now tests Python 2.6, 2.7, and 3.4 and I've added a number of new tests to cover most of the main code paths, so I'm comfortable saying that BLLIP Parser is ready for broader testing on Python 3. Please open a issue if you run into any problems.

[2015-11-14 19:06] #26 closed

[2015-11-30 11:47] ashishbaghudana opened #45 "Update PyPI version"
Hello, thanks for the great parser and the interface to Python!

While the Github version reflects updates to support Python 3, the version hosted on PyPi still does not. Could this be updated?

[2015-12-02 19:21] dmcc commented on #45
Hi @ashishbaghudana, thanks for the comment. I've been waiting a little on it to make sure that it's stable (also on vacation) but hope to get to this soon.

[2015-12-04 01:54] dmcc commented on #45
Python 3 version released!

[2015-12-04 01:54] #45 closed

[2016-01-15 18:32] dmcc commented on #19
With #44 and other changes, I'm hoping that BLLIP compiles with `clang` now.

Users with OS X who haven't installed `gcc`: Can you help test compilation? (ideally both for command line (`make world`) and Python (`python setup.py build`).

[2016-01-16 12:48] L3viathan commented on #19
`make world` fails with `ld: library not found for -lgomp`

`python setup.py build` fails because I don't have swig (`Error while running command: Command 'swig' not found.`)

[2016-01-16 16:06] dmcc commented on #19
Thanks for checking @L3viathan! If you run `brew install libiomp` and `FOPENMP="-liomp5" make world` does the command line version work?

For the Python side, I'm afraid compiling from the Git checkout will require `swig` (an eventual PyPI release will include the `swig`-generated files, though). Does `brew install swig` help? (I don't expect the Python side to build completely until we fix the co

[2016-01-16 18:10] L3viathan commented on #19
Brew-installed libiomp and ran it like you said, but it gave the same error.

The Python version seemed to work (i.e. didn't throw errors) but it didn't build completely, as you said.

[2016-01-18 22:05] dmcc commented on #19
Does the fix mentioned in https://github.com/dmlc/mxnet/issues/749#issuecomment-160760072 help the `make world` problem?

[2016-01-20 14:39] L3viathan commented on #19
That means I do

    brew install clang-omp
    make CXX=clang-omp++ world

?
If so, no, it [complains about a missing `assert.h`](https://gist.github.com/L3viathan/4716f222f2b22b5642a1).

[2016-01-20 17:10] dmcc commented on #19
@L3viathan, thanks for checking. @didzis, do you have any ideas?

[2016-01-21 15:52] didzis commented on #19
@L3viathan, if you want to build with clang (recommended) and have the ```ld: library not found for -lgomp``` error, then you can try using libiomp directly by replacing the line ```FOPENMP = -fopenmp``` with ```FOPENMP=-liomp5``` in the ```Makefile``` at the project root, and installing libiomp (```brew install libiomp```) if you didn't have it already installed (you will have it installed if you

[2016-01-21 16:03] L3viathan commented on #19
@didzis It still doesn't work. I changed that flag, and afterwards when it didn't work also the other one (`GCCFLAGS="-Wno-deprecated-declarations"`), but both times it fails with `clang: error: linker command failed with exit code 1 (use -v to see invocation)`

During compilation, I noticed several `clang: warning: -liomp5: 'linker' input unused` warnings (but libiomp is definitely installed).

[2016-01-21 16:07] dmcc commented on #19
@didzis Ah, I see. In https://github.com/BLLIP/bllip-parser/commit/e0e34cf11e4c8c599bebc99e1a34be6f8607987a#diff-b67911656ef5d18c4ae36cb6741b7965R83 I should have set `FOPENMP ?= -fopenmp` rather than just `=` so that environment variables can override it. I will put this in the next update (once we figure what else we need to change).

[2016-01-21 16:24] didzis commented on #19
@L3viathan I tested it on a clean machine. Either you have a different libomp version installed (please check for any libomp/libiomp versions you might have in ```/usr/local/lib``` or wherever you brew puts libraries, I have ```libiomp5.dylib``` there), or your project tree might be dirty from previous build attempts.
I urge you to make a fresh clone of the repository and try to build it again fro

[2016-01-21 16:30] L3viathan commented on #19
@didzis Before compiling I deleted the directory and re-cloned it. In `/usr/local/lib` I also only have brew's `libiomp5.dylib` (which has a timestamp from when I installed `clang-omp` a few days ago), though I admit this machine is anything but clean.

I don't really need bllip anymore, I'm just trying to help figure this out, since it was me who opened the issue originally. If it works for every

[2016-01-21 17:20] didzis commented on #19
@L3viathan Maybe you have a different error, it's not possible to infer the real error from ```clang: error: linker command failed with exit code 1 (use -v to see invocation)``` alone. There must be something more.

[2016-01-21 17:27] L3viathan commented on #19
@didzis Ah, sorry, it still doesn't find the library: `ld: library not found for -liomp5`. I assume that means it doesn't look in `/usr/local/lib`? Extending `LDFLAGS` with `-L/usr/local/lib` doesn't help either.

[2016-01-21 19:56] didzis commented on #19
@L3viathan You can try this ```clang -Xlinker -v``` to see default library search paths, usually ```/usr/local/lib``` is there, if it's not - maybe you installed Command Line Tools without Xcode itself ?
Does the ```/usr/local/lib/libiomp5.dylib``` have correct permissions ?
Maybe it's a symbolic link, that has lost it's target ?
Can you check the output of ```file /usr/local/lib/libiomp5.dylib```

[2016-01-22 22:33] dmcc opened #46 "Add and package higher-level Java interface"
Python has a higher-level interface to SWIG, but the current repository doesn't include one for Java. I've written one for Java. However, it is not well packaged and thus hadn't been checked in previously.

From what I can, the best way to distribute Java native code is as a `.nar` file (http://maven-nar.github.io/), so I hope to move towards that type of system. If you're a Maven/Java packaging e

[2016-02-02 16:07] faisal33 commented on #19
Hi dmcc and dizis - Did the bllip work for anyone using Clang in Yosemite? I can see the branch by Jim but was curious if you were successful with Clang.

[2016-02-02 16:12] didzis commented on #19
Hi @faisal33 , it does work compiled with Clang in Yosemite, I do use the Python API.

[2016-02-02 16:18] faisal33 commented on #19
This is what I get when I try to install BLLIP with python in my mac. This same error continues to occur even after I changed from Clang to gcc using both brew and macports.

Command "/Users/faisalfayyaz/anaconda/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/sp/_jdn22fs7gd838jnh2rh65fr0000gn/T/pip-build-5T5Y8e/bllipparser/setup.py';exec(compile(getattr(tokenize, 'ope

[2016-02-02 16:27] didzis commented on #19
There is some extra effort needed to get it working with Clang on OS X:
you have to ```brew install libiomp``` first, and compile from the latest source using ```FOPENMP=-liomp5 make``` at the project root.
Anaconda comes with it's own LLVM stack (incl. Clang), so I'm not sure this will work with anaconda. It's possible that you will have to go some extra miles on anaconda with this.

[2016-02-02 16:45] faisal33 commented on #19
Hey Thanks I will definitely give it a try on Anaconda and see how it goes. Thank You for your input

[2016-02-02 18:34] dmcc commented on #19
@faisal33 Thanks! Please let us know what you find as I'm sure others have this question as well.

[2016-02-05 14:05] wbecker opened #47 "Python 3.5 support"
When I try to build it with Python 3.5 I get the following error

[code]

I've never touched `swig` in my life, but looking at [this](https://github.com/swig/swig/issues/539) it's seems that wrapper.C is not being regenerated properly.

[2016-02-05 16:19] dmcc commented on #47
Thanks for the report. `swig` had problems generating the wrapper code for Python 3.5 (https://github.com/swig/swig/issues/539) but version 3.0.8 claims to fix these. Are you running the latest version? (`swig -version`)

(side note: I will update docs to make these issues clearer)

[2016-02-05 16:38] wbecker commented on #47
I tried it with the latest version and it failed in just the same way.

I backed down and installed python3.4 and swig 3.07 and it's all working now!

[2016-02-10 18:30] jarussell commented on #47
I am having the same (or a similar) problem.
[code]

no problems with the C++ code itself, seems to build fine with:
[code]

This code builds but I am new to python and not sure how to get it to install from pip.
[code]
gives the same or similar errors to wbecker.

`tox` appears to build a 2.7 (successfully) and 3.4 version but is unable to build the 3.4 since I don't have 3.4 on my system.

[2016-02-10 20:57] dmcc commented on #47
I think the issue is that the wrapper file bundled with the 2015.12.3 release uses SWIG 3.0.7 or earlier, which causes these build problems. I will make a new release soon using SWIG 3.0.8 to generate the wrapper file which will hopefully address this problem.

In the meantime, here's a possible workaround::

    shell> make real-clean
    shell> python setup.py build
    shell> sudo python setup.

[2016-02-21 22:06] zilunpeng commented on #19
@L3viathan have your tried xcode-select --install after getting the assert.h error? that solved my problem

[2016-02-22 21:39] L3viathan commented on #19
@zilunpeng I had the Xcode commandline tools installed already, so that didn't work. But for some reason (I assume something I did unrelated to this) **compilation works for me now**.

[2016-05-09 09:20] yoyom opened #48 "Don't know how to compile first-stage/PARSE/swig/wrapper.C [Microsoft Visual C Compiler]"
When I try to build it on Windows 7 with Python 3.5 (from anaonda) and swig-3.0.8, I get the error below. Any idea about it?
Thanks!

Installing collected packages: bllipparser
  Running setup.py install for bllipparser ... error
    Complete output from command C:\Users\XXX\AppData\Local\Continuum\Anacond
a3\python.exe -u -c "import setuptools, tokenize;**file**='C:\Users\XXX\Ap
pData\Local\Temp\

[2016-05-09 13:56] dmcc commented on #48
Just a shot in the dark: maybe it doesn't know what the `.C` extension means -- see if changing https://github.com/BLLIP/bllip-parser/blob/master/setup.py#L81 to `wrapper_path = 'swig/wrapper.cc'` helps. https://github.com/python/cpython/blob/master/Lib/distutils/msvccompiler.py#L215 implies that Microsoft compilers might not like `.C` as a C++ extension). If this is the case, it will unfortunatel

[2016-05-10 13:46] yoyom commented on #48
Thanks! You are correct on both points.
Modifying the wrapper_path does help.
But after it fails compiling C code.
Note that according to https://msdn.microsoft.com/en-us/library/032xwy55.aspx the /Tc option of cl.exe specifies that filename is a C source file, even if it does not have a .c extension.
Any idea?

    C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\BIN\amd64\cl.exe /c /
nolog

[2016-05-10 20:13] dmcc commented on #48
What happens if you try that command with `/Tp` instead of `/Tc`? (the `.C` files are C++, not C)

[2016-05-11 08:50] yoyom commented on #48
Thanks!
First, there is an issue with unistd.
bllipparser-2015.12.3\first-stage\parse\SimpleAPI.h(18): fatal error C1083: Cannot open include file: 'unistd.h': No such file or directory
This header is not present in Visual Studio.
I have tried to replace it with io.h or to remove it, and run cl.exe with /Tp, but I got the errors below. Are these errors related to unistd?

"C:\Program Files (x86)\M

[2016-05-11 20:22] dmcc commented on #48
Thanks for looking into this. I'm not sure if those errors are `unistd.h` related, but it's not a great sign that it's complaining about things in the autogenerated wrapper file. I'm afraid it might be a fairly serious undertaking to get this working on Windows (at minimum, I don't have any Windows development experience). Would you be able to run cygwin or Linux in a VM?

[2016-05-24 10:04] yoyom commented on #48
yes, I was able to run on Linux in a VM.
Thanks!

[2016-05-26 14:50] dmcc commented on #48
Great, glad to hear that works! I'm going to close this issue for now since there's a workaround, though would gladly accept a pull-request which fixes it.

[2016-07-01 15:09] juanmirocks commented on #19
My environment: `OS X 10.11.5` (El Capitan) and `Python 3.5.1`

The compiler seems to use `clang` regardless of whether I set

[code]

Still, if I remove the flags `-finline-functions` and `-fopenmp` the compilation works (`parser.sh` works fine, and I also can do `python setup.py install`). This is how I modified the `Makefile`:

[code]

Hope that helps

[2016-07-01 15:18] juanmirocks commented on #19
When I set `FOPENMP=-liomp5`, even after installing `brew install libiomp`, compilation also works but I get the warning `clang: warning: -liomp5: 'linker' input unused`. So it seems negligible in my case

[2016-08-03 00:38] didzis commented on #19
You don't have to set CC or CXX to g++ (it is clang anyway just with g++ headers) - clang is the default on OSX and bllip-parser will compile with clang if you install the libiomp5 library.

With recent homebrew versions the package has been moved: you now have to ```brew tap homebrew/boneyard``` first and then ```brew install libiomp```.
After that you can compile with ```FOPENMP=-liomp5 make```

[2016-09-07 16:35] halfak commented on #47
I'm still running into this issue running python 3.5.1 on Ubuntu 16.04.  pip pulls down `bllipparser-2015.12.3.tar.gz`.

[2016-09-09 02:24] dmcc commented on #47
Thanks for the note @halfak. Sorry, this fell off my plate. I'll try to get a new-enough version of SWIG working this weekend and cut a new release.

[2016-09-12 01:18] dmcc commented on #47
Alright, there's a new release (2016.9.11). Please let me know either way if it works or doesn't. Thanks!

[2016-09-14 01:29] halfak opened #49 "Segmentation fault when parsing non-clean sentence"
I get a segmentation fault when parsing `["I", "am", "a", "little", "teapot", ".", " ", "What", "?"]` using `WSJ-PTB3`.  See the repl paste below.

[code]

I'm running Ubuntu 16.04 64bit.

[code]

I found this in /var/log/syslog:

[code]

[2016-09-14 02:05] dmcc commented on #49
Thanks for the report!

My suspicion is that the bridge between the parser and reranker is not handling the space token correctly:
[code]

I'll add an input validator to avoid future crashes, but as a workaround, I recommend removing any tokens that are purely whitespace when you're using the pre-tokenized mode (it's not clear what the part of speech for whitespace is, or the overall parse for tha

[2016-09-14 13:24] halfak commented on #49
Seems like an easy enough workaround.  Thanks.

[2016-09-17 16:14] halfak opened #50 "Large output dump to stderr when parsing a "word" with a space in it."
If I parse a sentence that has a space in the word (e.g. "tea pot" from below), I get a huge dump to stderr of the form "## <possible parse tree>".  It looks like I'm getting roughly 5k lines.  I still end up with an acceptable parse.  I'd like to be able to turn off this output dump.

[code]

I realize that I'm doing some things that the parser wasn't intended to do, but I'm working with non-clea

[2016-09-19 00:38] dmcc commented on #50
As far as I know, the Penn Treebank "format" assumes that each token doesn't include any whitespace (inasmuch as it is an official format). I don't think `(JJ tea pot)` is actually a valid PTB tree (despite being produced by the parser) and it may break other PTB-consuming tools. FWIW, the input validator I was planning to write to fix #49 would prevent tokens from having (or being entirely) white

[2016-10-07 10:38] ankurgulati opened #51 "Facing WindowsError: [Error 32] error while running sd.sd.convert_tree"
The error looks like this :
WindowsError: [Error 32] The process cannot access the file because it is being used by another process: 'c:\\users\\nasdnjdn\\appdata\\local\\temp\\tmp6xftke'

Please help with a fix

[2016-10-07 14:37] dmcc commented on #51
If you're calling StanfordDependencies, I'm guessing it's related to https://github.com/dmcc/PyStanfordDependencies/issues/15. AFAICT, the issue isn't entirely solved, but there is a workaround.

[2016-10-07 14:43] ankurgulati commented on #51
@dmcc Can you help me with the workaround?

[2016-10-07 14:47] dmcc commented on #51
The workaround is:

Looks like it's now line 87.

[2016-10-08 15:15] dmcc commented on #51
Closing this bug since it's really an issue in PySD. Please follow up on https://github.com/dmcc/PyStanfordDependencies/issues/15 if you're still having this problem.

[2016-10-08 15:15] #51 closed

[2016-10-20 18:58] halfak opened #52 "Can't pickle RerankingParser"
[code]

[2016-10-23 11:49] anupamme commented on #47
Hello @dmcc

I tried installing it and it fails:

ubuntu - 16.04 (xenial)
python - 3.5.2
swig - 3.0.8

Can @halfak confirm whether you can install because you are able to install

[2016-10-23 14:11] halfak commented on #47
@anupamme, I am able to install bllipparser-2016.9.11 via pypi with pip.

ubuntu - 16.04
python - 3.5.1
swig - 3.0.8

[2016-10-23 17:50] anupamme commented on #47
Okay I am not able to install. These are the things I have tried:

1. Using pypi, installing bllipparser-2016.9.11

2. git cloned this repo and ran python setup.py build, but got same errors.

I have tried it on 2 machines:

1.
ubuntu - 16.04 (xenial)
python - 3.5.2
swig - 3.0.8

2.
Mac OS 10.11.5 (el capitan)
python - 3.5.0
swig - 3.0.10

So I am not sure what else I can try. So if someone can su

[2016-10-24 23:23] dmcc commented on #47
@anupamme Which errors are you seeing?

[2016-10-25 02:57] anupamme commented on #47
On ubuntu 16.04 (installing using pypi):

x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -Ifirst-stage/PARSE/ -I/usr/include/python3.5m -c first-stage/PARSE/swig/wrapper.C -o build/temp.linux-x86_64-3.5/first-stage/PARSE/swig/wrapper.o
    cc1plus: warning: command li

[2016-10-25 03:55] dmcc commented on #47
For Ubuntu, looks like you're missing `Python.h`. Try using `apt-get` to install `libpython3.5-dev`.

http://stackoverflow.com/questions/16880571/why-does-clang-lack-forward-list might be part of what's going on with Mac OS 10.11.5, but it's not clear to me why this works for others.

[2016-10-25 04:37] anupamme commented on #47
Works on Ubuntu after installing libpython3.5-dev.

On mac I am unsure why this is not working but may be I have beta version of xcode 8 and that is causing it.

But I can live with it working on ubuntu so I am good to go. Thanks for the prompt help.

[2017-02-09 20:50] fhamborg commented on #19
Like what extra steps, @didzis ? I've been fighting against this bug here for a couple of hours now but didn't really make much progress.

[2017-02-09 21:30] fhamborg opened #53 "MacOS: Compiled successfully, but module is missing"
I'm on MacOS 10.12.3 and followed the hints in the other issue on failing MacOS compilation (#19). Finally, I was able to get the compilation and python package setup run through, but I still cannot use the parser.

[code]

[2017-02-10 03:07] dmcc commented on #53
Sadly, I'm no expert on building BLLIP on Mac OS X (still). Is http://stackoverflow.com/questions/26958232/need-help-wrong-architecture-causing-app-to-crash-when-launching-in-ios-7-but helpful?

[2017-02-12 19:01] fhamborg commented on #53
Unfortunately not, but I managed to avoid this problem by basically performing PyCharm remote development, i.e., I setup a Ubuntu VM which is now controlled by PyCharm. The code is executed on that VM rather than on MacOS. It's not good, but it works. I followed this guide: https://blog.jetbrains.com/pycharm/2015/03/feature-spotlight-python-remote-development-with-pycharm/

[2017-02-20 20:30] samirgupta opened #54 "Biomedical named entities being treated as Cardinals"
I am using the GENIA+PubMed model and parsing biomedical text.

A very frequent issue I have observed is that certain biomedical entities such as microRNAs (miRs) are being tagged as CD rather than NN.

Example:
Sentence: (named entities highlighted in bold)
Human micro-RNAs **miR-223**, **miR-26b**, **miR-221**, **miR-103-1**, **miR-185**, **miR-23b**,**miR-203**, **miR-17-5p**, **miR-23a**, and

[2017-02-20 20:39] dmcc commented on #54
Yes, this is supported! You'll want to use `parse_tagged()` instead of `parse()`:

ScoredParse('(S1 (NP (VB Time) (NNS flies)))', parser_score=-54.05083561918019, reranker_score=-15.079632500107973)

ScoredParse('(S1 (S (VP (VB Time) (NP (VBZ flies)))))', parser_score=-54.3497715 5750189, reranker_score=-16.681734375725263)

[2017-02-20 21:06] samirgupta commented on #54
Thanks. This is very helpful.

[2017-02-20 21:06] #54 closed

[2017-02-20 21:52] dmcc commented on #49
(Finally) added an input validator: f01ade870c39054a116531bf07c35d78ae46cedd

[2017-02-20 21:52] #49 closed

[2017-02-20 21:55] dmcc commented on #50
Added an input validator: f01ade870c39054a116531bf07c35d78ae46cedd so passing tokens with spaces will now be caught before there's a segfault. Marking this as closed for now, but please reopen if any the three workarounds don't work for you.

[2017-02-20 21:55] #50 closed

[2017-03-13 18:22] keilanderatsorensondotcom opened #55 "Will not compile on windows"
It looks like the installer is not properly compiling bllipparser on windows.

Specs:
win7 64
python 2.7
latest VCForPython27.msi (as of 03/13/2017)

Console:
[code]

[2017-03-13 18:27] dmcc commented on #55
Thanks for the report! I think this is a duplicate of #48 (though I'm afraid that this issue was never completely resolved...). Unfortunately, I don't have access to a Windows developer environment, but I welcome any pull requests that address this issue.

[2017-03-13 18:27] #55 closed

[2017-03-13 18:28] dmcc commented on #48
Reopening since we didn't really resolve the issue -- apologies for closing it!

[2017-05-23 15:09] KantanLabs commented on #16
Dear dmcc,

I don't know if there is any progress on the bllip parser since 2013, but currently I am using it for a large project -- where a lot of sentences are needed to be processed in parallel -- and I was wondering if the multi-threading issue is resolved.

Have there been some solutions to allow the bllip-parser to run multi-threaded and being thread-safe?

Thanks,
Dimitar.

[2017-05-23 16:21] dmcc commented on #16
Unfortunately, I'm not aware of any progress on BLLIP in this area. In the past, I've run multiple instances of the parser as a workaround. I still do not recommend using the `-t` option.

[2017-05-23 17:10] KantanLabs commented on #16
Hello dmcc,

Thank you for the quick response. That's pity. I have built a server/wrapper around the parser and it works great on a single core. However, it is rather slow when comparing to , e.g., Stanford which runs multiple threads. On a single thread the BLLIP is actually faster and give a better accuracy.

I am willing to take a look at the code. Do you have any suggestions what needs to be f

[2017-05-24 00:56] dmcc commented on #16
Hi Dimitar,

That would be great if you're willing to take a look at it. It's been a while so my memory is pretty fuzzy on this, but I believe the issue is a race condition in the first stage parser which we never really narrowed down. If you repeatedly parse a small set of long enough sentences with `-t` > 1, you should be able to see some cases where you get different parses for the same sentenc

[2017-05-25 16:50] KantanLabs commented on #16
Hi David,

So, I did some look into the multithreading today. Something is definitely fishy. So what I did is just run some tests and some diagnostics. Here is a summary. I will continue digging and will keep posting.

* Upgraded to gcc 7 and compiled with -fsanitize=thread -fPIE -pie -g -> no problems
  after running parseIt the tool hanged and couldn't be terminated (except with a kill -s 9)
* C

[2017-05-26 07:19] namkhanhtran commented on #53
here is what I did to solve this problem on Mac el Capitan

1. of course, install swig with brew: `brew install swig`
2. in order to run: make (to compile), I need to specify the CC and CXX as stated in the README: `CC=/usr/lib/bin/gcc-7` and `CXX=/usr/lib/bin/g++-7`
3. I tried to install the python package using pip install bllipparser, but got the same error. So, I decided to install from source

[2017-05-26 14:57] dmcc commented on #16
Thanks for the update -- please keep them coming! Yeah, that sounds (vaguely) familiar. I think I ran `helgrind` and it found issues, but I forget how much deeper I dug than that.

[2017-05-26 15:28] KantanLabs commented on #16
OK, So, two things.

First, in the parseIt/mainLoop there is a print loop:
	while(!printStack.empty())
	{
		sleep(SLEEPTIME);
		workOnPrintStack(&printStack);
	}

which is outside of the reading/parsing loop. This loop and the sleep delay the printing process, even if the parse is finished. To be honest, I don't get why is this loop there since there is a print workOnPrintStack(&printStack); call

[2017-06-13 11:51] KantanLabs commented on #16
Hi David,

I did some look around and to be honest didn't figure out what exactly causes helgrade to complain. I modified some things in the parse method.

First, switched the global sentence count from `int` to `unsigned long long int`. If I am not wrong, for more than 32,767 sentences there would be errors.

Second, the printing function I took out of the main loop - this way they should work on

[2017-06-18 02:27] dmcc commented on #16
Yup, this makes sense. Please feel free to submit this as a separate patch.

python wrapper

There used to be an option to pass a thread ID to the first-stage parser in
the Python wrapper, but I removed it (
https://github.com/BLLIP/bllip-parser/commit/1858d751fc969182946252f808a559d4c1414e88)
since it didn't seem like threads were going to get fixed. The main pieces
were "ThreadManager" which let

[2017-06-20 20:49] KantanLabs commented on #16
Hello David,

Sorry for my late reply - being busy with lots of stuff.

Once I have a bit of free time I will submit the change for the long long int.

Regarding the race condition, it is possible that the history (FullHist) is not thread safe... but not yet verified.

I have, however, two questions:

1. If I submit more code changes, will you review it? (maybe that sounds like a silly question, b

[2017-06-21 19:12] dmcc commented on #16
Hi Dimitar,

Sure, I'd be happy to review changes.

If you're planning to make a new REST server frontend, I'd recommend making
it a separate file from parseIt.C (maybe parseREST.C?). Ideally, it would
only need to call things in first-stage/PARSE/SimpleAPI.h though you will
need to extend the parse() calls to use thread IDs again.

Hope this helps,
David

On Tue, Jun 20, 2017 at 4:49 PM, KantanLa

[2017-06-23 03:43] jofatmofn opened #56 "Head node not a direct child"
I am having the following code
`

	constituency_string = str(rrp.parse_tagged(tokens, possible_tags=dict(enumerate(postags)))[0].ptb_parse)

	tree = Tree(constituency_string)
`

For the sentence "An interesting date is four days from today.", the expected head (a direct child) and the actual head (pre-terminal) from tree object are depicted below:

`

	(S1										# Expected head: S; Got VBZ

		(

[2017-06-23 14:27] dmcc commented on #56
Thanks for the report. BLLIP Parser calls them heads, but I think this is a
bit of a misnomer and they're really closer to dependencies (in a
governor-dependent sense). I'm afraid if you're looking for direct
children, you'll need to extend the "head finder" or use the extracted
dependencies and walk up the tree to find direct children.

On Thu, Jun 22, 2017 at 8:43 PM, jofatmofn <notifications@gi

[2017-07-06 03:27] jofatmofn commented on #56
I am using pynaf to generate NAF output and I need to call naf_document.add_constituency_tree. Have decided to use extracted dependencies and walk up the tree. Sharing the code, with the hope that it is useful to someone.

[code]
The calling method has this code (where tokens is the list of tokens and postags is the corresponding POS tags):
[code]
For each sentence
[code]

[2017-07-06 03:27] #56 closed

[2017-07-06 15:26] jofatmofn opened #57 "bllip parser in Server"
Please let me know if bllip parser can be used in this fashion. I am using Flask.

During start-up:
`rrp = RerankingParser.fetch_and_load('WSJ-PTB3', verbose=True)`

While processing (multiple concurrent) requests from clients (Same object rrp is reused):
`		constituency_lisp_string = str(rrp.parse_tagged(tokens, possible_tags=dict(enumerate(postags)))[0].ptb_parse)`

[2017-07-06 15:48] dmcc commented on #57
It's fine to reuse a RerankingParser object, but BLLIP's multithreading
doesn't work properly (see #16) so you'll need to ensure that only one
parse is happening at a time (try something like
https://stackoverflow.com/questions/5185568/python-conditional-with-lock-design
).

[2017-07-06 15:58] jofatmofn commented on #57
Thanks. If I need to have multiple concurrent parses, then is it okay to maintain a pool of rrp objects?

[2017-07-06 17:02] dmcc commented on #57
If each RRP is in a separate process, it will be alright (not sure if flask
supports this). The RRPs are in the same process, they will almost
certainly corrupt each other if they're used simultaneously, unfortunately.

[2017-07-12 07:16] jofatmofn opened #58 "Handling quotes"
Given the text
`John said, "Welcome to the heaven".`
rrp.simple_parse gives
`(S1 (S (NP (NNP John)) (VP (VBD said) (, ,) (`` ``) (INTJ (UH Welcome) (PP (TO to) (NP (DT the) (NN heaven)))) ('' '')) (. .)))`
If I use rrp.parse_tagged with the following tokens and postags
[code]
it returns an empty list.

Workaround: In tokens, if I change the beginning double quotes to two backticks and ending doubl

[2017-07-12 15:21] dmcc commented on #58
I think this is happening because parse_tagged() needs pretokenized text
and BLLIP's tokenizer replaces quotes with their two-backtick and
two-single-quote variants (this is how they're encoded in PTB format).

We could make parse_tagged call tokenize() on its input, but I thought it
would be safer for users to call it first to make sure they knew what their
sentence would look like after tokeniza

[2017-07-14 16:05] jofatmofn commented on #58
Sure. Thanks. Could you please direct me to any reference (document or code) which highlights such replacements. I need to use tokens and postags from another parser and I can apply these before calling BLLIP.

[2017-07-14 16:17] #57 closed

[2017-07-15 01:53] moleary opened #59 "python import failing with undefined symbol"
Hi,

I've installed and re-installed bllipparser a few times on Ubuntu Xenial 16.04 and I keep getting the same import errors in python (anaconda). Has anyone else seen this issue? Here is my attempt at an import:

Python 2.7.13 |Anaconda 4.4.0 (64-bit)| (default, Dec 20 2016, 23:09:15)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2
Type "help", "copyright", "credits" or "license" for more infor

[2017-07-17 03:55] dmcc commented on #58
I think this more or less covers it:

   ftp://ftp.cis.upenn.edu/pub/treebank/public_html/tokenization.html

There's no strict standard and each parser may interpret some edge cases
slightly differently, but the main things to note for using
rrp.parse_tagged are how quotes, apostrophes, and brackets are handled.

[2017-07-17 20:36] dmcc commented on #59
Looks like it might be an Anaconda issue (
https://github.com/stan-dev/pystan/issues/269,
https://github.com/stan-dev/pystan/issues/292). Are you using "pip install"
or "conda install"?

On Fri, Jul 14, 2017 at 6:53 PM, moleary <notifications@github.com> wrote:

[2017-07-18 11:25] moleary commented on #59
That's what it was. It works fine with the standard python install. Thanks for the help!

[2017-07-20 14:47] jofatmofn commented on #58
Thanks.

[2017-07-20 14:47] #58 closed

[2017-07-24 15:13] #59 closed

[2017-08-02 22:13] KantanLabs commented on #16
Hi David,

After long search through the BLLIP parser code I am sort of giving up. I reached to a point where I think (one) problem comes from the "edgeSubFns". There is this array of functions that is accessed by each thread. I tried to work on this, but couldn't make it work.

Anyway, I tried a lot of other things (following gdb and valgrind's info) but coudln't make it work properly for multipl

[2017-08-05 15:36] dmcc commented on #16
Hi Dimitar,

Thanks for the report and your work on this problem. It is definitely a
challenging codebase. If you have time, it would be awesome if you checked
in your changes to your fork of the parser for others who might want to
take this on (I'm afraid I don't have the bandwidth at this point).

Take care,
David

On Wed, Aug 2, 2017 at 3:13 PM, KantanLabs <notifications@github.com> wrote:

[2017-09-20 22:00] danyaljj commented on #46
Hey @dmcc I have extensive maven/Java background and interested in helping this. I looked into the java sample codes you have written for the [first stage](https://github.com/BLLIP/bllip-parser/blob/ca98ab0b513b1d9f5330d0051e9083a600676ae0/first-stage/PARSE/swig/java/test/test.java) and the [second stage](https://github.com/BLLIP/bllip-parser/blob/ca98ab0b513b1d9f5330d0051e9083a600676ae0/second-st

[2017-09-21 01:12] danyaljj opened #60 "Compilation in OSX"
I had to go through these steps to be able to compile in my Mac, which has gcc 4.2 by default.
Thought it would be worth sharing.

First install gcc49, but this is not gonna change the default behavior:
[code]

In command-line, create aliases for gcc 4.9:
[code]

[2017-09-21 14:25] danyaljj commented on #46
I looked into the Makefiles and I see that there are arguments for building with SWIG. Will have to install SWIG to generate the binary files.

[2017-09-22 17:34] dmcc commented on #46
Hey @danyaljj, thanks for looking into this! It's been a while since this
was fresh in my mind, but please keep the thread posted.

Right, these are generated by SWIG (or at least their sources are).

operating systems, or I'll have to create different binary files, for each
OS.

I don't think they will necessarily work across OSes, unforutnately. I've
seen cases where Java native extensions inclu

[2017-09-22 17:42] dmcc commented on #60
Thanks! I've linked to this issue from the README (though perhaps you'd be interested in incorporating it into the official docs as README-OSX.rst -- if so, please send a PR).

[2017-09-23 19:53] danyaljj commented on #46
Yup. Noting every time something unexpected happen.

Some missing libraries:
 - `fatal error: boost/array.hpp: No such file or directory`
had to install boost: `brew install boost`

 - `fatal error: lbfgs.h: No such file or directory`
had to install liblbfgs. Downloaded from: https://github.com/downloads/chokkan/liblbfgs/liblbfgs-1.10.tar.gz  and  then  `./configure & make & make install `.

I'm g

[2017-09-28 18:18] danyaljj commented on #46
Another try on a **fresh** ubuntu machine (everything so far was Mac).

Here are the things that came up:

- Install your version of jdk (say `sudo apt-get install openjdk-8-jdk` and )fix the `library` folders for openjdk, wherever needed:
     1)

- install flex: `sudo apt-get install flex`

[2017-10-01 22:42] dmcc commented on #46
Thanks for the updates, sounds like progress!

For the OS X install, I'm afraid I'm not sure why it's not finding the symbols. Maybe it's missing `Fusion.o` from the list of `COMMON_OBJS`? On the other hand, I'm not sure why it would need those symbols since I don't remember fusion being wrapped.

I just tried a fresh install on Ubuntu (Zesty) -- needed to install `openjdk-8-jdk` and `maven` (whic

[2019-01-24 23:30] tobiolatunji opened #62 "Error downloading model (501 Not Implemented)"
Followed the instructions on the home page. But there's a problem with the model download process.

When i run `wget https://www.dropbox.com/s/ulcfs7my1ifriuu/BLLIP-WSJ-PTB3.tar.bz2?dl=1` the file downloads fine, but doesn't download using the provided instructions.

`(chexpert-label) t--$ pip install --user bllipparser
Requirement already satisfied: bllipparser in /home/tobi/anaconda3/envs/chexpe

[2019-01-26 01:43] dmcc commented on #62
I haven't seen this before and I'm afraid I wasn't able to reproduce with a fresh install -- is it possible that the Anaconda installation is missing SSL support?

[2019-03-28 13:28] liziming5353 opened #63 "Error downloading model (501 Not Implemented)"
Followed the instructions on the home page. But there's a problem with the model download process.

When i run wget https://www.dropbox.com/s/ulcfs7my1ifriuu/BLLIP-WSJ-PTB3.tar.bz2?dl=1:

Fetching model: WSJ-PTB3 from https://www.dropbox.com/s/ulcfs7my1ifriuu/BLLIP-WSJ-PTB3.tar.bz2?dl=1
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/lzm/.local/lib/python2.7/

[2019-04-04 01:32] dmcc commented on #63
Is this still an issue for you? I tried with a fresh client and couldn't
reproduce.

Also, are you saying that the wget command works but running things like
"python -m bllipparser WSJ-PTB3" doesn't?

On Thu, Mar 28, 2019 at 12:01 PM liziming5353 <notifications@github.com>
wrote:

[2019-05-02 21:52] pmtolk opened #64 "slow results in docker"
I am not sure if this is the right way to do this but I currently created a dockerfile with a web api which receives input writes it to a file.txt then calls parse.sh file.txt however this takes 8 seconds on a 1 cpu 2 gb memory on aws machine, their must be a better way! :)

[2019-05-03 20:45] pmtolk commented on #64
Is their a way to keep the parser loaded into memory and then invoke the parser while running?

[2019-05-09 14:54] dmcc commented on #64
You might want to try the [Python interface](https://pypi.org/project/bllipparser/). It would be pretty easy to build a server around this (though note that the parser is not thread-safe).

[2019-05-30 21:34] brady-ds opened #65 "Segmentation fault in `InputTree::printproper` when using a comprehension or loop to collect the heads of parse trees"
The three lines of code below reliably provoke a segfault for me:

[code]

(Apologies for the strange choice of text to parse; I had difficulty finding a text that would provoke a crash instead of a hang, at least on my machine.)

In case it is useful, a backtrace is given below:

[code]

Incidentally, is there a reason why just

[code]

is not supported?

[2019-06-16 18:00] dmcc commented on #65
Thanks for the very thorough report! I'm afraid my answers to both are not great, since my knowledge of this code is quickly rotting. I'll have to leave this open and see if I can dig into it more later, but here's some information for the curious/brave:

For the first part, it looks like there's a memory error in my SWIG wrapper, unfortunately. I haven't been able to track it down, but you can li

[2019-07-10 14:12] duichwer commented on #48
HI,
I've got the same problem.

My Setup:

Windows 10 64 Bit, Python 64 Bit

What I've tried so far:
 - Installed Swig for Windows (precompiled & current release[4.0]) and added 'Swig' to PATH
 - Download Source from Github to start setup.py manually
 - Received the following Output:
[code]
 - I think the error is caused by the subprocess.call() and additionally by the command _which_ that isn't a

[2019-07-10 14:41] duichwer commented on #48
I changed a little bit in `Setup.py`.

[code]

Now I'm getting another error, yeah :-)

[code]

I will try further methods to fix the problem and mabye as a result a PR.

[2019-07-17 06:49] duichwer commented on #48
I didn't got it to work with 'cmd', but with msys2.
Finally only one little piece had to be changed for getting it compiled.

I had to change the compiler options from `std++11` to `gnu++11`.
https://github.com/BLLIP/bllip-parser/blob/f83be9f1453a47d5e5b9f9694da8d0950778fb99/setup.py#L148
(see https://stackoverflow.com/a/22167294/6068675).

I think this has to be done, because `popen`, `pclose` an

[2019-12-01 07:49] MrTree0-0 commented on #63
Use a VPN

[2020-03-19 16:21] csaund commented on #48
Just wondering if there is any update or movement on this, as I am currently having almost an identical issue (Windows 10, python 3.7). The package installs just fine on my mac (High Sierra 10.13, Python 2.7). I'm currently trying to follow your steps above (as you got it to work in the end!?) but wondering if the PR ever happened :)

[2020-03-20 11:42] csaund opened #66 "Compilation errors on windows: /usr/bin/sh: -c: line 0: syntax error near unexpected token `('"
Hello,

### Background
My ultimate use case is getting to get [this discourse parser](http://alt.qcri.org/tools/discourse-parser/) to run. I am happy editing this third-party python to use the new python package, but I have the same compilation error as issue #48 and I am not sure how much retrofitting would be required to make it work anyway, so I would rather get the java version to compile and

[2020-03-20 12:19] csaund commented on #66
Update:
I have tried adding `SHELL := /bin/bash` to the [top of the Makefile](https://stackoverflow.com/questions/31851661/error-while-compiling-through-cygwin)

although sh --version shows:
[code]
so I was skeptical of that working anyway

[2020-03-20 13:58] csaund commented on #66
Update, it didn't like where `make` lived (with `Program Files (x86)` in the path) so I moved make and forced it to use a different path. I get the ominous `#include <sys/resource.h>` error again, which the internet seems to advice "don't use windows" 🙃

[2020-03-20 13:58] #66 closed

[2020-05-06 00:05] MaxGhenis opened #67 "pip install errors on linux (requires installing gcc & gxx)"
When installing bllip-parser from Ubuntu via pip (`pip install bllipparser`), I got `Building wheel for bllipparser (setup.py) ... error`.

Per [this article](http://seanlaw.github.io/2019/01/17/pip-installing-wheels-with-conda-gcc/), installing these in advance got it working:
[code]
May be worth adding to an installation piece of a README.

Full error:
[code]

[2020-12-24 09:59] tinahuang222 commented on #67
It appears that this solution works for linux system only, how do we resolve this issue for windows?

[2021-10-25 14:10] Paulo-Jorge-PM opened #68 "Python3 bindings (pip) not working"
Python 3 installation is not working, both on Linux (Python 3.8 on Ubuntu 18 and 20) and Windows (10 Python 3.5).

I am trying to install it with "pip3 install bllipparser" but it always fails ("Don't know how to compile first-stage/PARSE/swig/wrapper.C" etc.). Using "make" is not working also.

Thanks for your work.

[2021-11-07 09:45] mbasaglia opened #69 "Compilation error when installing from pip"
`pip install bllipparser` fails. The output shows a bunch of stuff but I think this is the relevant error:

[code]

OS: Ubuntu 21.04
Python: Python 3.9.5

[2021-11-07 18:26] Paulo-Jorge-PM commented on #68
You are the best, it works now! Thank you very much! I am building an hobbie text editor for linguistics and Thursday will have a presentation - it stopped crashing, you saved me in good time :)

For anyone with the same problem:

Thanks

[2021-11-07 18:39] dmcc commented on #69
This might be the same issue as https://github.com/BLLIP/bllip-parser/issues/68 -- can you see if the same workaround works for you?

(meanwhile, I'll work on a new release...)

[2021-11-07 19:52] dmcc commented on #68
For others who find this bug: There's a new version of BLLIP Parser at https://pypi.org/project/bllipparser/2021.11.7/

This should fix the build issues. If not, please reopen this bug!

[2021-11-07 19:52] #68 closed

[2021-11-07 19:53] dmcc commented on #69
I'm hoping the new release will fix it -- please reopen if there's still an issue.

[2021-11-07 19:53] #69 closed

[2022-07-14 09:11] pythonista0801 opened #70 "Session crashes when loading RerankingParser.from_unified_model_dir()"
I have installed NegBio, bllipparser with pip and imported the required modules including NegBioParser and RerankingParser.
However, when I try to load parser = NegBioParser() the session crashes on the line rrp = RerankingParser.from_unified_model_dir(self.model_dir), the reason in logs was first NO CUDA detected. I fixed it and switched to GPU runtime. After loading all dependencies and parsers,

[2022-07-14 14:56] dmcc commented on #70
Interesting! (I wasn't aware NegBio was using BLLIP Parser, but that's cool to hear)

Looks like this is the same bug as https://github.com/ncbi-nlp/NegBio/issues/52 -- my guess is that it's due to some interaction between the two projects and unfortunately I don't know much about the internals of NegBio. (BLLIP Parser was built way before there were GPU accelerators so there could easily be some

[2022-11-04 12:23] liutaonuist commented on #63
I encountered the same mistake. How did you solve it?

[2022-11-04 12:24] liutaonuist commented on #63
I encountered the same mistake. How did you solve it?

[2022-11-05 11:28] liutaonuist opened #71 "AttributeError: type object 'CharniakParser' has no attribute 'loadModel'"
AttributeError: type object 'CharniakParser' has no attribute 'loadModel',
from . import CharniakParser as parser
from . import JohnsonReranker as reranker

[2022-11-05 22:31] dmcc commented on #71
Thanks for the report! Seems like BLLIP Parser might not have been installed correctly. Can you give more information on the issue? These would be helpful:

1. Full traceback of the error
2. More context on what code you were running which triggered the error
3. How BLLIP Parser was installed and/or built (i.e., with pip, as a dependency of something else, etc.)
4. Your OS/distribution

Also, can

[2022-11-06 03:18] liutaonuist commented on #71
1、Problem（1、Full traceback of the error）
Traceback (most recent call last):
  File "amr_parsing.py", line 435, in <module>
    main()
  File "amr_parsing.py", line 168, in main
    instances = preprocess(amr_file,START_SNLP=True,INPUT_AMR=args.amrfmt, PRP_FORMAT=args.prpfmt)
  File "/root/autodl-tmp/CLEVE-main/camr/preprocessing.py", line 504, in preprocess
    dparser.parse(tok_sent_filename)
  F

[2022-11-06 17:05] dmcc commented on #71
Thanks for the information! From your stack trace, it looks like you're running BLLIP Parser from [CAMR](https://github.com/c-amr/camr) which has a [script](https://github.com/c-amr/camr/blob/master/scripts/config.sh) to install BLLIP Parser.

Have you run that script? What happens when you run `pip install --user bllipparser`?

The answer to question 4 would be helpful for debugging (as you may a